.Base .deck {
	background-image: url(http://i.imgur.com/kscXPVH.png?2);
}
.Philly .deck {
	background-image: url(http://i.imgur.com/pqEpxz3.jpg?1);
}
.Furry .deck {
	background-image: url(http://i.imgur.com/VAD9UYX.jpg?2?1791);
}
.Tech .deck {
	background-image: url(http://i.imgur.com/QYuWXwg.jpg?1);
}
.Pax .deck {
	background-image: url(http://i.imgur.com/TGP3y7j.jpg?1);
}
.Expansion.II .deck {
	background-image: url(http://i.imgur.com/WBGG5vo.jpg?1);
}